<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<h1>Photos</h1>
<p>Express stock photo application.</p>
<p>
    <a href="/Upload">Upload</a></p>
<div id='photos'>
    <% photos.forEach(function(photo) { %>
    <div  class="photo">
        <a href="/photo/<%=photo.hash%>/0/download">
        <h2><%=photo.name%></h2>
        <img src='/photos/<%=photo.path%>'/>
        </a>
    </div>
   <%})%>

</div>
</body>
</html>